<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=2.0.8.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
    <section name="winPrincipal" type="PentegyServices.Logging.Core.Security.WinPrincipalConfigurationSection, PentegyServices.Logging.Core" />
  </configSections>
  <connectionStrings>
    <add name="core.db" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=core;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="threadPoolMonitor" value="1000" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <winPrincipal domain="TEST">
    <mapping>
      <map role="H" group="GroupH" />
      <map role="H" group="" />
      <map role="H" group="        " />
			<!--
				SID S-1-5-11 is equal to group name NT AUTHORITY\Authenticated Users
			-->
      <map role="U" sid="S-1-5-11" />
      <map role=" " group="GroupA" />
    </mapping>
  </winPrincipal>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Core.Logging.Test.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="1" />
      <maximumFileSize value="20MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%property{machineAddr}] [%thread] [%property{loggingID}] [%property{requestAddr}] [%property{user}] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%property{machineAddr}] [%thread] [%property{loggingID}] [%property{requestAddr}] [%property{user}] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Green" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%property{machineAddr}] [%thread] [%property{loggingID}] [%property{requestAddr}] [%property{user}] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="OFF" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>
    <logger name="PentegyServices.Logging.Core">
      <level value="DEBUG" />
    </logger>
    <logger name="PentegyServices.Logging.Core.Test">
      <level value="ALL" />
    </logger>
  </log4net>
  <system.diagnostics>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="PentegyServices.Logging.Core.Test.svclog" />
    </sharedListeners>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel" switchValue="All">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics performanceCounters="All">
      <messageLogging maxMessagesToLog="200" logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false"/>
    </diagnostics>
  </system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="PentegyServices.Logging.Core" publicKeyToken="1d3c536c71c466aa" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.TestPlatform.TestFramework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.6.1.12217" newVersion="2.6.1.12217" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
